:root {
    /* font-weight */
    --fw-600: 600;
    --fw-700: 700;
    --fw-400: 400;
    /* color  */
    --color-white: #FFFFFF;
     --color-black: #040404;
    --color-white-gray: #bebfbf;
    /* font-size */
    --fs-16px: 16px;
     --fs-56px: 56px;
    --fs-64px: 64px;
}

@media (max-width:992px) {
    :root {
        --fw-300: 300;
        --fw-400: 400;
        --fw-500: 500;
        --fw-600: 600;
        --fw-700: 700;
        --fs-64px: 57px;
    }
}
 
